<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Mintsafe.WasmApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="address/addr_test1vrldgv89yh0edkuwrvkkhc3yx4npfccdvtz7dfkn85a78rsu9nkm4">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Address UTxOs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="time">
                <span class="oi oi-clock" aria-hidden="true"></span> Time
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="yolowallet">
                <span class="oi oi-briefcase" aria-hidden="true"></span> YOLO Wallet
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
